In [1]:
import pandas as pd
import numpy as np

In [2]:
Sales = pd.read_csv("Sales.csv")
Customers = pd.read_csv('Customers.csv',encoding='ISO-8859-1')  #ISO - encoding cannot properly decode certain bytes in the file
Products = pd.read_csv("Products.csv")
Stores = pd.read_csv("Stores.csv")
Exchange_Rates = pd.read_csv("Exchange_Rates.csv")

## Data Cleaning

In [3]:
Sales

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,01-01-2016,NaN,265598,10,1304,1,CAD
1,366001,1,01-01-2016,1/13/2016,1269051,0,1048,2,USD
2,366001,2,01-01-2016,1/13/2016,1269051,0,2007,1,USD
3,366002,1,01-01-2016,01-12-2016,266019,0,1106,7,CAD
4,366002,2,01-01-2016,01-12-2016,266019,0,373,1,CAD
...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2/20/2021,NaN,1216913,43,632,3,USD
62880,2243031,1,2/20/2021,2/24/2021,511229,0,98,4,EUR
62881,2243032,1,2/20/2021,2/23/2021,331277,0,1613,2,CAD
62882,2243032,2,2/20/2021,2/23/2021,331277,0,1717,2,CAD
62883,2243032,3,2/20/2021,2/23/2021,331277,0,464,7,CAD

In [4]:
Sales.count()

Order Number     62884
Line Item        62884
Order Date       62884
Delivery Date    13165
CustomerKey      62884
StoreKey         62884
ProductKey       62884
Quantity         62884
Currency Code    62884
dtype: int64

## Handle Sales Delivery Date Null Values and Data type change in date format

In [5]:
#change the format for order date and delivery date to d-mm-yyyy and calculate the average delivery days. 
#Using that Average filled the null values in delivery date

In [6]:
# Function to attempt date conversion with multiple formats
def convert_to_date(date_value):
    formats = ['%d-%m-%Y', '%m/%d/%Y']  # Define possible formats
    for fmt in formats:
        try:
            return pd.to_datetime(date_value, format=fmt)
        except (ValueError, TypeError):
            continue
    return pd.NaT  # Return NaT if all formats fail

# Step 1: Apply the conversion function to the entire 'Order Date' column
Sales['Order Date'] = Sales['Order Date'].apply(convert_to_date)
Sales['Delivery Date'] = Sales['Delivery Date'].apply(convert_to_date)
# Step 2: Ensure the 'Order Date' column is now datetime-like and format it to 'dd-mm-yyyy'
Sales['Order Date'] = Sales['Order Date'].dt.strftime('%d-%m-%Y')
Sales['Delivery Date'] = Sales['Delivery Date'].dt.strftime('%d-%m-%Y')

In [7]:
##Calculate average delivery days

In [8]:
Sales['Order Date'] = pd.to_datetime(Sales['Order Date'], errors='coerce', format='%d-%m-%Y')
Sales['Delivery Date'] = pd.to_datetime(Sales['Delivery Date'], errors='coerce', format='%d-%m-%Y')
Avg_delivery_day = Sales['Delivery Date'] - Sales['Order Date']

In [9]:
Avg_delivery_day.mean()

Timedelta('8 days 20:29:13.376376756')

In [10]:
Sales['Delivery Date'] = Sales['Delivery Date'].fillna(Sales['Order Date'] + pd.DateOffset(days=8))

In [11]:
Sales['Order Date'] = pd.to_datetime(Sales['Order Date'])
Sales['Delivery Date'] = pd.to_datetime(Sales['Delivery Date'])
Sales.to_csv('cleaned_sales_data.csv', index=False)
print("Order Date conversion complete. File saved as 'cleaned_sales_data.csv'.")

Order Date conversion complete. File saved as 'cleaned_sales_data.csv'.

In [12]:
Sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   Delivery Date  62884 non-null  datetime64[ns]
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 4.3+ MB

## Handle Customer - Birthday Date - Date format and Data type of Date format change

In [13]:
Customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [14]:
Customers = pd.read_csv('Customers.csv',encoding='ISO-8859-1')  #ISO - encoding cannot properly decode certain bytes in the file
# Function to attempt date conversion with multiple formats
def convert_to_date(date_value):
    formats = ['%d-%m-%Y', '%m/%d/%Y']  # Define possible formats
    for fmt in formats:
        try:
            return pd.to_datetime(date_value, format=fmt)
        except (ValueError, TypeError):
            continue
    return pd.NaT  # Return NaT if all formats fail

# Step 1: Apply the conversion function to the entire 'Order Date' column
Customers['Birthday'] = Customers['Birthday'].apply(convert_to_date)
# Step 2: Ensure the 'Order Date' column is now datetime-like and format it to 'dd-mm-yyyy'
Customers['Birthday'] = Customers['Birthday'].dt.strftime('%d-%m-%Y')

Customers['Birthday'] = pd.to_datetime(Customers['Birthday'],dayfirst = True)
# Step 3: Save the cleaned data back to a new CSV file
Customers.to_csv('cleaned_customers_data.csv', index=False)

print("Customer Date conversion complete. File saved as 'cleaned_cutomers_data.csv'.")

Customer Date conversion complete. File saved as 'cleaned_cutomers_data.csv'.

In [15]:
Customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 1.2+ MB

## Handle Products - Unit Price and Unit Cost - Remove $ symbol,remove spaces after the value & convert the data type into float

In [16]:
Products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB

In [17]:
# Step 1: Convert the column to strings to ensure string operations work
Products['Unit Cost USD'] = Products['Unit Cost USD'].astype(str)

# Step 2: Remove dollar signs, commas, and trailing spaces
Products['Unit Cost USD'] = Products['Unit Cost USD'].str.replace('$', '', regex=False)  # Remove dollar sign
Products['Unit Cost USD'] = Products['Unit Cost USD'].str.replace(',', '', regex=False)  # Remove commas
Products['Unit Cost USD'] = Products['Unit Cost USD'].str.rstrip()  # Remove trailing spaces

# Step 3: Convert the cleaned column to float
Products['Unit Cost USD'] = Products['Unit Cost USD'].astype(float)

In [18]:
# Step 1: Convert the column to strings to ensure string operations work
Products['Unit Price USD'] = Products['Unit Price USD'].astype(str)

# Step 2: Remove dollar signs, commas, and trailing spaces
Products['Unit Price USD'] = Products['Unit Price USD'].str.replace('$', '', regex=False)  # Remove dollar sign
Products['Unit Price USD'] = Products['Unit Price USD'].str.replace(',', '', regex=False)  # Remove commas
Products['Unit Price USD'] = Products['Unit Price USD'].str.rstrip()  # Remove trailing spaces

# Step 3: Convert the cleaned column to float
Products['Unit Price USD'] = Products['Unit Price USD'].astype(float)

In [19]:
Products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

In [20]:
Products.to_csv('cleaned_products_data.csv', index=False)

print("price conversion complete. File saved as 'cleaned_products_data.csv'.")

price conversion complete. File saved as 'cleaned_products_data.csv'.

## Handle Stores - Open Date - Date format and Data type of Date format change

In [21]:
Stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB

In [22]:
def convert_to_date(date_value):
    formats = ['%d-%m-%Y', '%m/%d/%Y']  # Define possible formats
    for fmt in formats:
        try:
            return pd.to_datetime(date_value, format=fmt)
        except (ValueError, TypeError):
            continue
    return pd.NaT  # Return NaT if all formats fail

# Step 1: Apply the conversion function to the entire 'Order Date' column
Stores['Open Date'] = Stores['Open Date'].apply(convert_to_date)
# Step 2: Ensure the 'Order Date' column is now datetime-like and format it to 'dd-mm-yyyy'
Stores['Open Date'] = Stores['Open Date'].dt.strftime('%d-%m-%Y')

Stores['Open Date'] = pd.to_datetime(Stores['Open Date'],dayfirst = True)

Stores = Stores.iloc[:-1] #remove the outlier
# Step 3: Save the cleaned data back to a new CSV file
Stores.to_csv('cleaned_stores_data.csv', index=False)

print("Customer Date conversion complete. File saved as 'cleaned_stores_data.csv'.")

Customer Date conversion complete. File saved as 'cleaned_stores_data.csv'.

In [23]:
Stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       66 non-null     int64
 1   Country        66 non-null     object
 2   State          66 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      66 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.7+ KB

## Handle Exchange_Rates - Date - Date format and Data type of Date format change

In [24]:
Exchange_Rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [25]:
def convert_to_date(date_value):
    formats = ['%d-%m-%Y', '%m/%d/%Y']  # Define possible formats
    for fmt in formats:
        try:
            return pd.to_datetime(date_value, format=fmt)
        except (ValueError, TypeError):
            continue
    return pd.NaT  # Return NaT if all formats fail

# Step 1: Apply the conversion function to the entire 'Order Date' column
Exchange_Rates['Date'] = Exchange_Rates['Date'].apply(convert_to_date)
# Step 2: Ensure the 'Order Date' column is now datetime-like and format it to 'dd-mm-yyyy'
Exchange_Rates['Date'] = Exchange_Rates['Date'].dt.strftime('%d-%m-%Y')

Exchange_Rates['Date'] = pd.to_datetime(Exchange_Rates['Date'],dayfirst = True)
# Step 3: Save the cleaned data back to a new CSV file
Exchange_Rates.to_csv('cleaned_Exchange_Rates_data.csv', index=False)

print("Customer Date conversion complete. File saved as 'cleaned_Exchange_Rates_data.csv'.")

Customer Date conversion complete. File saved as 'cleaned_Exchange_Rates_data.csv'.

### SQL

In [26]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [27]:
pip install cryptography

Requirement already satisfied: cryptography in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (43.0.3)
Requirement already satisfied: cffi>=1.12 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from cffi>=1.12->cryptography) (2.22)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
import pymysql

# Establish the database connection
mydb = pymysql.connect(
    host="localhost",
    user="root",
    password="root"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a query to create a new database
mycursor.execute("CREATE DATABASE Dataspark")

# Optionally, confirm the database was created
print("Database created successfully")
# Close the cursor and connection
mycursor.close()
mydb.close()

Database created successfully

In [32]:
import pymysql

# Connect to the MySQL server
connection = pymysql.connect(
    host='localhost',
    user='root',  # Replace with your MySQL username
    password='root',  # Replace with your MySQL password
)

# Create a cursor object
mycursor = connection.cursor()

# Select the database you want to use
mycursor.execute("USE Dataspark")

# Now create the table
mycursor.execute("""
CREATE TABLE Sales (
    Order_Number INT, 
    Line_Item INT, 
    Order_Date DATE, 
    Delivery_Date DATE, 
    CustomerKey INT, 
    StoreKey INT, 
    ProductKey INT, 
    Quantity INT, 
    Currency_Code VARCHAR(250)
)
""")

# Close the connection
mycursor.close()
connection.close()

print("Table created successfully!")

Table created successfully!

In [33]:
import pandas as pd
import pymysql

# Load data from CSV file
csv_file = 'cleaned_sales_data.csv'  # Replace with your CSV file path
df = pd.read_csv(csv_file)

# Preview the data
print(df.head())

# Ensure the dates are formatted correctly (optional but recommended)
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce').dt.strftime('%Y-%m-%d')
df['Delivery Date'] = pd.to_datetime(df['Delivery Date'], errors='coerce').dt.strftime('%Y-%m-%d')

# Handle NaN values by replacing them with None (MySQL understands None as NULL)
df = df.where(pd.notnull(df), None)

# Connect to the MySQL database using pymysql
connection = pymysql.connect(
    host='localhost',
    user='root',  # Replace with your MySQL username
    password='root',  # Replace with your MySQL password
    database='Dataspark'  # Replace with your MySQL database name
)

# Create a cursor object
cursor = connection.cursor()

# Define the SQL insert query
insert_query = """
INSERT INTO Sales (`Order_Number`, `Line_Item`, `Order_Date`, `Delivery_Date`, 
                    `CustomerKey`, `StoreKey`, `ProductKey`, `Quantity`, `Currency_Code`) 
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Iterate through DataFrame and execute the insert statement
for index, row in df.iterrows():
    try:
        # Execute the insert query with the row values
        cursor.execute(insert_query, tuple(row))
    except pymysql.MySQLError as e:
        print(f"Error inserting row {index}: {e}")
        continue  # Skip this row and continue with the next one

# Commit the transaction to save changes
connection.commit()

# Close the connection
cursor.close()
connection.close()

print("Data inserted successfully!")

   Order Number  Line Item  Order Date Delivery Date  CustomerKey  StoreKey  \
0        366000          1  2016-01-01    2016-01-09       265598        10
1        366001          1  2016-01-01    2016-01-13      1269051         0
2        366001          2  2016-01-01    2016-01-13      1269051         0
3        366002          1  2016-01-01    2016-12-01       266019         0
4        366002          2  2016-01-01    2016-12-01       266019         0

   ProductKey  Quantity Currency Code
0        1304         1           CAD
1        1048         2           USD
2        2007         1           USD
3        1106         7           CAD
4         373         1           CAD
Data inserted successfully!

In [34]:
import pymysql

# Connect to the MySQL server
connection = pymysql.connect(
    host='localhost',
    user='root',  # Replace with your MySQL username
    password='root',  # Replace with your MySQL password
)

# Create a cursor object
mycursor = connection.cursor()

# Select the database you want to use
mycursor.execute("USE Dataspark")

# Now create the table
mycursor.execute("""
CREATE TABLE Customers (
   CustomerKey int, Gender varchar(250), Name varchar(250), City varchar(250), 
   State_Code varchar(250),State varchar(250),Zip_Code varchar(250), Country varchar(250),
   Continent varchar(250),Birthday varchar(250)
)
""")

# Close the connection
mycursor.close()
connection.close()

print("Table created successfully!")

Table created successfully!

In [33]:
import pandas as pd
import pymysql

# Load data from CSV file
csv_file = 'cleaned_customers_data.csv'  # Replace with your CSV file path
df = pd.read_csv(csv_file)

# Preview the data
print(df.head())

# Ensure the dates are formatted correctly (optional but recommended)
df['Birthday'] = pd.to_datetime(df['Birthday'], errors='coerce').dt.strftime('%Y-%m-%d')

# Handle NaN values by replacing them with None (MySQL understands None as NULL)
df = df.where(pd.notnull(df), None)

# Connect to the MySQL database using pymysql
connection = pymysql.connect(
    host='localhost',
    user='root',  # Replace with your MySQL username
    password='root',  # Replace with your MySQL password
    database='Dataspark'  # Replace with your MySQL database name
)

# Create a cursor object
cursor = connection.cursor()

# Define the SQL insert query
insert_query = """
INSERT INTO Customers (`CustomerKey`, `Gender`, `Name`, `City`, `State_Code`,
                        `State`,`Zip_Code`,`Country`,`Continent`,`Birthday`) 
                        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
# Iterate through DataFrame and execute the insert statement
for index, row in df.iterrows():
    try:
        # Execute the insert query with the row values
        cursor.execute(insert_query, tuple(row))
    except pymysql.MySQLError as e:
        print(f"Error inserting row {index}: {e}")
        continue  # Skip this row and continue with the next one

# Commit the transaction to save changes
connection.commit()

# Close the connection
cursor.close()
connection.close()

print("Data inserted successfully!")

   CustomerKey  Gender               Name            City State Code  \
0          301  Female      Lilly Harding  WANDEARAH EAST         SA
1          325  Female       Madison Hull      MOUNT BUDD         WA
2          554  Female      Claire Ferres       WINJALLOK        VIC
3          786    Male  Jai Poltpalingada    MIDDLE RIVER         SA
4         1042    Male    Aidan Pankhurst   TAWONGA SOUTH        VIC

               State Zip Code    Country  Continent    Birthday
0    South Australia     5523  Australia  Australia  1939-07-03
1  Western Australia     6522  Australia  Australia  1979-09-27
2           Victoria     3380  Australia  Australia  1947-05-26
3    South Australia     5223  Australia  Australia  1957-09-17
4           Victoria     3698  Australia  Australia  1965-11-19
Data inserted successfully!

In [35]:
import pymysql

# Connect to the MySQL server
connection = pymysql.connect(
    host='localhost',
    user='root',  # Replace with your MySQL username
    password='root',  # Replace with your MySQL password
)

# Create a cursor object
mycursor = connection.cursor()

# Select the database you want to use
mycursor.execute("USE Dataspark")

# Now create the table
mycursor.execute("""
CREATE TABLE Products(
   ProductKey int,Product_Name varchar(250),Brand varchar(250),Color varchar(250),
   Unit_Cost_USD float,Unit_Price_USD float,SubcategoryKey int,Subcategory varchar(250),
   CategoryKey int,Category varchar(250)

)
""")

# Close the connection
mycursor.close()
connection.close()

print("Table created successfully!")

Table created successfully!

In [36]:
import pandas as pd
import pymysql

# Load data from CSV file
csv_file = 'cleaned_products_data.csv'  # Replace with your CSV file path
df = pd.read_csv(csv_file)

# Preview the data
print(df.head())

# Handle NaN values by replacing them with None (MySQL understands None as NULL)
df = df.where(pd.notnull(df), None)

# Connect to the MySQL database using pymysql
connection = pymysql.connect(
    host='localhost',
    user='root',  # Replace with your MySQL username
    password='root',  # Replace with your MySQL password
    database='Dataspark'  # Replace with your MySQL database name
)

# Create a cursor object
cursor = connection.cursor()

# Define the SQL insert query
insert_query = """
INSERT INTO Products(`ProductKey`,`Product_Name`,`Brand`,`Color`,`Unit_Cost_USD`,
                    `Unit_Price_USD`,`SubcategoryKey`,`Subcategory`,`CategoryKey`,`Category`
) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
# Iterate through DataFrame and execute the insert statement
for index, row in df.iterrows():
    try:
        # Execute the insert query with the row values
        cursor.execute(insert_query, tuple(row))
    except pymysql.MySQLError as e:
        print(f"Error inserting row {index}: {e}")
        continue  # Skip this row and continue with the next one

# Commit the transaction to save changes
connection.commit()

# Close the connection
cursor.close()
connection.close()

print("Data inserted successfully!")

   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

   Unit Cost USD  Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0           6.62           12.99             101     MP4&MP3            1
1           6.62           12.99             101     MP4&MP3            1
2           7.40           14.52             101     MP4&MP3            1
3          11.00           21.57             101     MP4&MP3            1
4          11.00           21.57             101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio
Data inserted successfully!

In [37]:
import pymysql

# Connect to the MySQL server
connection = pymysql.connect(
    host='localhost',
    user='root',  # Replace with your MySQL username
    password='root',  # Replace with your MySQL password
)

# Create a cursor object
mycursor = connection.cursor()

# Select the database you want to use
mycursor.execute("USE Dataspark")

# Now create the table
mycursor.execute("""
CREATE TABLE Stores(
   StoreKey int,Country varchar(250),State varchar(250),Square_Meters int,Open_Date date
   )
""")
# Close the connection
mycursor.close()
connection.close()

print("Table created successfully!")

Table created successfully!

In [38]:
import pandas as pd
import pymysql

# Load data from CSV file
csv_file = 'cleaned_stores_data.csv'  # Replace with your CSV file path
df = pd.read_csv(csv_file)

# Preview the data
print(df.head())

# Ensure the dates are formatted correctly (optional but recommended)
df['Open Date'] = pd.to_datetime(df['Open Date'], errors='coerce').dt.strftime('%Y-%m-%d')

# Handle NaN values by replacing them with None (MySQL understands None as NULL)
df = df.where(pd.notnull(df), None)

# Connect to the MySQL database using pymysql
connection = pymysql.connect(
    host='localhost',
    user='root',  # Replace with your MySQL username
    password='root',  # Replace with your MySQL password
    database='Dataspark'  # Replace with your MySQL database name
)

# Create a cursor object
cursor = connection.cursor()

# Define the SQL insert query
insert_query = """
INSERT INTO Stores(`StoreKey`, `Country`, `State`, `Square_Meters`, `Open_Date`)
VALUES (%s, %s, %s, %s, %s)
"""
# Iterate through DataFrame and execute the insert statement
for index, row in df.iterrows():
    try:
        # Execute the insert query with the row values
        cursor.execute(insert_query, tuple(row))
    except pymysql.MySQLError as e:
        print(f"Error inserting row {index}: {e}")
        continue  # Skip this row and continue with the next one

# Commit the transaction to save changes
connection.commit()

# Close the connection
cursor.close()
connection.close()

print("Data inserted successfully!")

   StoreKey    Country                         State  Square Meters  \
0         1  Australia  Australian Capital Territory          595.0
1         2  Australia            Northern Territory          665.0
2         3  Australia               South Australia         2000.0
3         4  Australia                      Tasmania         2000.0
4         5  Australia                      Victoria         2000.0

    Open Date
0  2008-01-01
1  2008-01-12
2  2012-01-07
3  2010-01-01
4  2015-12-09
Data inserted successfully!

In [39]:
import pymysql

# Connect to the MySQL server
connection = pymysql.connect(
    host='localhost',
    user='root',  # Replace with your MySQL username
    password='root',  # Replace with your MySQL password
)

# Create a cursor object
mycursor = connection.cursor()

# Select the database you want to use
mycursor.execute("USE Dataspark")

# Now create the table
mycursor.execute("""
CREATE TABLE Exchange_Rate(
   Date date,Currency varchar(250),Exchange float
   )
""")
# Close the connection
mycursor.close()
connection.close()

print("Table created successfully!")

Table created successfully!

In [40]:
import pandas as pd
import pymysql

# Load data from CSV file
csv_file = 'cleaned_Exchange_Rates_data.csv'  # Replace with your CSV file path
df = pd.read_csv(csv_file)

# Preview the data
print(df.head())

# Ensure the dates are formatted correctly (optional but recommended)
df['Date'] = pd.to_datetime(df['Date'], errors='coerce').dt.strftime('%Y-%m-%d')

# Handle NaN values by replacing them with None (MySQL understands None as NULL)
df = df.where(pd.notnull(df), None)

# Connect to the MySQL database using pymysql
connection = pymysql.connect(
    host='localhost',
    user='root',  # Replace with your MySQL username
    password='root',  # Replace with your MySQL password
    database='Dataspark'  # Replace with your MySQL database name
)

# Create a cursor object
cursor = connection.cursor()

# Define the SQL insert query
insert_query = """
INSERT INTO Exchange_Rate(`Date`, `Currency`, `Exchange`)
VALUES (%s, %s, %s)
"""
# Iterate through DataFrame and execute the insert statement
for index, row in df.iterrows():
    try:
        # Execute the insert query with the row values
        cursor.execute(insert_query, tuple(row))
    except pymysql.MySQLError as e:
        print(f"Error inserting row {index}: {e}")
        continue  # Skip this row and continue with the next one

# Commit the transaction to save changes
connection.commit()

# Close the connection
cursor.close()
connection.close()

print("Data inserted successfully!")

         Date Currency  Exchange
0  2015-01-01      USD    1.0000
1  2015-01-01      CAD    1.1583
2  2015-01-01      AUD    1.2214
3  2015-01-01      EUR    0.8237
4  2015-01-01      GBP    0.6415
Data inserted successfully!